img{
    max-height: 12rem;
}

.img-logo{
    height: 200px;
    width: 200px;
}

footer {
    position:relative;
    left:0px;
    bottom:0px;
    width:100%;
}

.footer-index{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}

.parrafo{
    max-width: 23rem;
    font-size: large;
}

#inputState{
    max-width: 18rem;
}